@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');
* {
  box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: 'Outfit', Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}


main {
  padding: 20px;
}

.HeroSearch {
  margin-bottom: 30px;
}

.PropertyGrid {
  margin-top: 20px;
}
